<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_type %><br>
    <%= f.select :category_type, [['Debit', :debit], ['Credit', :credit]] %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
<%
=begin%>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
<%
=end%>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.select :frequency, [['Occasionally', :occasionally], ['Monthly', :monthly], ['Weekly', :weekly], ['Daily', :daily]] %>
  </div>
  <div class="field">
    <%= f.label :investment %><br>
    <%= f.check_box :investment %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
