<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Group</th>
<!--      
      <th>Value</th>
-->      
      <th>Frequency</th>
      <th>Disabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_type %></td>
        <td><%= category.full_description %></td>
        <td><%= category.group %></td>
<%
=begin%>        
        <td><%= category.value %></td>
<%
=end%>        
        <td><%= category.frequency %></td>
        <td><%= category.disabled %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
<%= link_to 'Transactions', transactions_path %>
