<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @category.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @category.group %>
</p>

<p>
  <strong>Value:</strong>
  <%= @category.value %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @category.frequency %>
</p>

<p>
  <strong>Active:</strong>
  <%= @category.active %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
