<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if local_assigns[:missing_transactions_flag] %>
    <%= hidden_field_tag :missing_transactions_flag, "true"%>
  <%end%>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, @categories.collect{|c| ["#{c.full_description} - #{c.category_type}", c.id]} %>
    <%= link_to 'New Category', new_category_path %>
  </div>
  <div class="field">
    <%= f.label :payee %><br>
    <%= f.text_field :payee %>
  </div>
  <%unless @transaction.id%>
    <div class="field">
      <%= f.label :installments %><br>
      <%= f.text_field :installments %>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
