<p id="notice"><%= notice %></p>

<h1>Missing Transactions</h1>
<% @missing_transactions.each do |frequency, transactions| %>
  <%if !@missing_transactions[frequency].empty? %>
    <h2>
      <%if frequency == :daily%>
        Hoje
      <%elsif frequency == :weekly%>
        Esta semana
      <%else%>
        Este mês
      <%end%>
    </h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Payee</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% transactions.each do |transaction| %>
          <tr class="<%=transaction.category.category_type%>">
            <td><%= transaction.date %></td>
            <td class="currency"><%= number_to_currency(transaction.normalized_amount, unit: "") %></td>
            <td><%= transaction.category.full_description %></td>
            <td><%= transaction.missing_hash %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="currency"><%=number_to_currency(@current_balance, unit:"")%></td>
        </tr>
      </tfoot>
    </table>
  <%end%>
<%end%>
